<div class="content">
    <div class="row">
        <div class="col-12 col-md-8 box-padding profile-content">
            <div class="row">
                <div class="card col-12">
                    <div class="row pt-1">
                        <!-- Image -->
                        <div class="col-4 col-md-3">
                            <img src="/images/perfil.jpg" alt="" class="hero-img">
                        </div>
                        <!-- Name and Subs -->
                        <div class="col-8 col-md-6">
                            <h2>Dr. Ammar Abdul Aziz</h2>
                            <div class="v-start">
                                <i class="fa fa-user-md" aria-hidden="true"></i>
                                <h5>Physio <span id="h-l">|</span> Cardio</h5>
                            </div>
                            <div class="v-start pt-1">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <h5>Join date 29th March 2020</h5>
                            </div>
                            <div class="v-center rating pt-1">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o pr-1" aria-hidden="true"></i>
                                    364 Reviews</p>
                            </div>
                        </div>
                        <!-- Btn and Review -->
                        <div class="col-12 col-md-3">
                            <a href="#" class="btn btn-blue-outline">Edit Profile</a>
                        </div>
                    </div>
                    <!-- Contact Icons -->

                    <div class="row details">
                        <div class="col-12 col-md-4 pb-3 pb-md-0 text-center detail-1">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="#">+91 9846704120</a>
                        </div>
                        <div class="col-12 col-md-4 pt-3 pb-3 pb-md-0 pt-md-0 text-center detail-2">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="#">ammarabz10@gmail.com</a>
                        </div>
                        <div class="col-12 col-md-4 pt-3 pt-md-0 text-center detail-3">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="#">Mahe, India</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="card col-12">
                    <div class="patients-card">
                        <div class="icon-bg">
                            <i class='bx bx-bookmark nav__icon color-5'></i>
                        </div>
                        <div class="card-content color-5">
                            <h4>Patients</h4>
                            <h3>75</h3>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <br>
        </div>
        <!-- Recent review -->
        <div class="col-12 col-md-4 box-padding recent-review">
            <div class="row card">
                <h2>Recent Review</h2>
                <!-- Review box -->
                <div class="review-box row">
                    <div class="col-3 pl-2 pr-0 pt-1">
                        <img src="/images/perfil.jpg" alt="" class="hero-img">
                    </div>
                    <div class="col-9 pt-1">
                        <h5>John Doe</h5>
                        <div class="v-center rating pb-1">
                            3.8
                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <h6>Hospital & staff were extremely warm & quick in getting me start with the procedures.
                        </h6>
                    </div>
                </div>
                <div class="review-box row">
                    <div class="col-3 pl-2 pr-0 pt-1">
                        <img src="/images/perfil.jpg" alt="" class="hero-img">
                    </div>
                    <div class="col-9 pt-1">
                        <h5>John Doe</h5>
                        <div class="v-center rating pb-1">
                            3.8
                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <h6>Hospital & staff were extremely warm & quick in getting me start with the procedures.
                        </h6>
                    </div>
                </div>
                <div class="review-box row">
                    <div class="col-3 pl-2 pr-0 pt-1">
                        <img src="/images/perfil.jpg" alt="" class="hero-img">
                    </div>
                    <div class="col-9 pt-1">
                        <h5>John Doe</h5>
                        <div class="v-center rating pb-1">
                            3.8
                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <h6>Hospital & staff were extremely warm & quick in getting me start with the procedures.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>