<!--  breadcrumb  -->

<div class="content">
    <div>
        <ul class="bar">
            <li class="bar-item"><a href="/admin">Dashboard</a></li>
            <span>/</span>
            <li class="bar-item active">Doctors</li>
        </ul>
    </div>
</div>

<!-- Table -->

<div class="content">
    <div class="card">
        <div class="card-head">
            <div>Doctors</div>
            <a href="/admin/add-doctor" class="btn btn-green formInputs"><i class='bx bxs-user-plus'></i>Add Doctor</a>
        </div>
    </div>
    <div class="card2 card mb-4">
        <table class="table table-hover" id="doctors-table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Specialized</th>
                    <th scope="col">Speciality</th>
                    <th scope="col" class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dr. Pradeep Kumar</td>
                    <td>Male</td>
                    <td>BDS</td>
                    <td>Orthodentist</td>
                    <td>
                        {{!-- <a href="#" class="btn-action btn-view"><i class='bx bxs-user-detail nav__icon'></i></a> --}}
                        <a href="#" class="btn-action btn-edit"><i class='bx bx-pencil nav__icon'></i></a>
                        <a href="#" class="btn-action btn-delete"><i class='bx bx-trash nav__icon'></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Dr. Varun Nair</td>
                    <td>Male</td>
                    <td>ENT</td>
                    <td>Speech Therapy</td>
                    <td>
                        {{!-- <a href="#" class="btn-action btn-view"><i class='bx bxs-user-detail nav__icon'></i></a> --}}
                        <a href="#" class="btn-action btn-edit"><i class='bx bx-pencil nav__icon'></i></a>
                        <a href="#" class="btn-action btn-delete"><i class='bx bx-trash nav__icon'></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Dr. Ayshe Khader</td>
                    <td>Female</td>
                    <td>HOMEO</td>
                    <td>Medicine</td>
                    <td>
                        {{!-- <a href="#" class="btn-action btn-view"><i class='bx bxs-user-detail nav__icon'></i></a> --}}
                        <a href="#" class="btn-action btn-edit"><i class='bx bx-pencil nav__icon'></i></a>
                        <a href="#" class="btn-action btn-delete"><i class='bx bx-trash nav__icon'></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#doctors-table').DataTable();
        var $input = $('.dataTables_filter label > input');
        $input.parent().after($input);
        $('.dataTables_wrapper input[type=search]').attr("placeholder", "Search");
    });
</script>