<!-- Header -->

<header class="header" id="header">
    <div class="header__toggle">
        <i class='bx bx-menu' id="header-toggle" onclick="navToggle()"></i>
    </div>
    <div class="admin-tab" onclick="userPopup()">
        <div class="admin-name">
            <h5>John Doe</h5>
            <h6>ADMIN</h6>
        </div>
        <div class="header__img">
            <img id="user-img" class="user-img" src="/images/admin.jpg" alt="">
        </div>
    </div>
    <div id="user-pop" class="user-pop">
        <div class="user-pop-head">
            <h2><span>Hello</span> Admin</h2>
            <h4>Available</h4>
        </div>
        <div class="wrapper">
            <div class="list">
                <i class='bx bx-home nav__logo-icon'></i>
                <a href="/admin">Homepage</a>
            </div>
            <div class="list">
                <i class='bx bx-log-out'></i>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</header>

<!--  Nav  -->

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a class="nav__logo" href="/admin" class="nav__link">
                <i class='bx bx-layer nav__logo-icon'></i>
                <span class="nav__logo-name">Crossroads Clinic</span>
            </a>

            <div class="nav__list" id="tab">
                <a href="#tab1" class="nav__link" onclick="showContent(0, 0)">
                    <i class='bx bx-grid-alt nav__icon'></i>
                    <span class="nav__name">Dashboard</span>
                </a>

                <a href="#tab2" class="nav__link" onclick="showContent(1, 1)">
                    <i class='bx bx-user nav__icon'></i>
                    <span class="nav__name">Doctors</span>
                </a>

                <a href="#tab3" class="nav__link" onclick="showContent(2, 2)">
                    <i class='bx bx-message-square-detail nav__icon'></i>
                    <span class="nav__name">Patients</span>
                </a>

                <a href="#tab4" class="nav__link" onclick="showContent(3, 3)">
                    <i class='bx bx-bookmark nav__icon'></i>
                    <span class="nav__name">Appointments</span>
                </a>

                <a href="#tab8" class="nav__link" onclick="showContent(4, 7)">
                    <i class='bx bxs-widget'></i>
                    <span class="nav__name">Specialities</span>
                </a>
            </div>
        </div>
    </nav>
</div>