<footer class="mt-5">
   <div class="container">
      <div class="row fs-1">
         <div class="col-6 col-md-3">
            <h4>Specialities</h4>
            <h5><a href="#">Orthology</a></h5>
            <h5><a href="#">Cardiology</a></h5>
            <h5><a href="#">Dentist</a></h5>
         </div>
         <div class="col-6 col-md-3">
            <h4 style="opacity: 0;">Specialities</h4>
            <h5><a href="#">Pediatrics</a></h5>
            <h5><a href="#">Radiology</a></h5>
            <h5><a href="#">Dermetology</a></h5>
         </div>
         <div class="col-6 col-md-3">
            <h4>Links</h4>
            <h5><a href="#">Home</a></h5>
            <h5><a href="#">About</a></h5>
            <h5><a href="#">Doctors</a></h5>
         </div>
         <div class="col-6 col-md-3">
            <h4>Contact</h4>
            <h5><a href="#"><i class="fa fa-phone"></i>+974 44669988</a></h5>
            <h5><a href="#"><i class="fa fa-envelope-o"></i>crossroads@clinic.com</a></h5>
            <h5><a href="#"><i class="fa fa-location-arrow"></i>Calicut, India</a></h5>
         </div>
      </div>
   </div>
   <div class="fs-2">
      <div class="text-center">
         <h2>Copyright © 2020 All rights reserved | Designed and developed by Ammar</h2>
      </div>
   </div>
</footer>