<link rel="stylesheet" href="/stylesheets/patients.css">
<div class="top-head">
    <div class="container header-content">
        <div class="header-contact v-center">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            <h2>+91 9846704120</h2>
            <i class='bx bx-mail-send ml-5'></i>
            <h2>crossroadsclinic@gmail.com</h2>
            <i class='bx bxs-time-five ml-5'></i>
            <h2>Mon to Sat 9:00am to 18:00pm</h2>
        </div>
        <div class="admin-tab  pop-1" onclick="userPopup1()">
            <div class="admin-name">
                <h5>John Doe</h5>
                <h6>PATIENT</h6>
            </div>
            <div class="header__img">
                <img id="user-img" class="user-img" src="/images/perfil.jpg" alt="">
            </div>
        </div>
    </div>
    <div id="user-pop-1" class="user-pop">
        <div class="user-pop-head">
            <h2><span>Hello</span> Admin</h2>
            <h4>Available</h4>
        </div>
        <div class="wrapper">
            <div class="list">
                <i class='bx bx-user nav__logo-icon'></i>
                <a href="#">Profile</a>
            </div>
            <div class="list">
                <i class='bx bx-log-out'></i>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Crossroads Clinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>

        <!-- To delete -->
        <div class="admin-tab pop-2 pt-2 pb-2" onclick="userPopup2()">
            <div class="admin-name">
                <h5>Ammar Abdul Aziz</h5>
                <h6>PATIENT</h6>
            </div>
            <div class="header__img">
                <img id="user-img" class="user-img" src="/images/perfil.jpg" alt="">
            </div>
        </div>
        <div id="user-pop-2" class="user-pop">
            <div class="user-pop-head">
                <h2><span>Hello</span> Admin</h2>
                <h4>Available</h4>
            </div>
            <div class="wrapper">
                <div class="list">
                    <i class='bx bx-user nav__logo-icon'></i>
                    <a href="#">Profile</a>
                </div>
                <div class="list">
                    <i class='bx bx-log-out'></i>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

    </div>
</nav>
<div class="main-bg">
    <img src="/images/1.png" class="image-fluid" alt="">
</div>