<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/components.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Document</title>
</head>

<body>


    <div class="login-card">
        <div class="login-content">
            <h1>LOGIN</h1>
            <h4>Login to your account to continue</h4>
            <div class="login-register">
                <h5 class="login-tab active"><a href="">Login</a></h5>
                <h5 class="register-tab "><a href="">Register</a></h5>
            </div>
            {{#if errors}}
            <div class="error-box" id="errorDiv">
                <div class="error-msg">
                    <p>{{errors}}</p>
                </div>
                <i id="closeMsg" class="fa fa-times" aria-hidden="true"></i>
            </div>
            {{/if}}
            <form action="/login" method="POST" id="login-form">
                <label for="email">Email Address</label><br>
                <div class="form-icon-input">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" id="email" name="email" placeholder="johndoe@gmail.com"><br>
                </div>
                <label for="password">Password</label><br>
                <div class="form-icon-input">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" id="password" name="password" placeholder="*****">
                </div>
                <div class="submit">
                    <button class="btn btn-green" type="submit">Login</button>
                    <h5><a href="">Forgot password</a></h5>
                </div>
            </form>
            {{!-- ----------------- --}}
            <form action="/register" method="POST" id="register-form">
                <label for="name">Full Name</label><br>
                <div class="form-icon-input">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="name" placeholder="John Doe"><br>
                </div>
                <label for="phone">Phone Number</label><br>
                <div class="form-icon-input">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="phone" placeholder="+91"><br>
                </div>
                <label for="email">Email Address</label><br>
                <div class="form-icon-input">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" name="email" placeholder="johndoe@gmail.com"><br>
                </div>
                <label for="password">Password</label><br>
                <div class="form-icon-input">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name="password" placeholder="*****">
                </div>
                <div class="submit">
                    <button class="btn btn-green" type="submit">Register</button>
                </div>
            </form>
            <hr>
            <div class="oauth">
                <a href="/auth/google" class="btn btn-oauth btn-google-plus"><i class="fa fa-google-plus"
                        aria-hidden="true"></i>Sign In with Google</a>
                <a href="/auth/facebook" class="btn btn-oauth btn-facebook"><i class="fa fa-facebook"
                        aria-hidden="true"></i>Sign In with Facebook</a>
            </div>
        </div>
    </div>
</body>

</html>
<script src="/javascripts/login.js"></script>