h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h3, h4, h5, h6, p, span, body {
    font-family: 'Barlow', sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.btn:focus {
    outline: none;
}

.btn-green {
    color: #E7EAE9 !important;
    background-color: #28905F;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-white {
    color: #28905F !important;
    background-color: #E7EAE9;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-green:hover {
    background-color: #19754a;
}

.btn-white:hover {
    background-color: #cecece;
}

/* Custom modal */

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}



.modal-box {
    padding: 30px;
    background-color: #F1FCF5;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgb(63, 63, 63);
}

#image_demo, .cr-boundary {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

#crop-btn{
    width: 100%;
}

.close-icon{
    color: #28905F;
    font-size: 25px;
    float: right;
    padding: 10px;
    margin: -25px -25px 0 0;
    cursor: pointer;
}