/* datatable buttons */

.dataTables_wrapper .paginate_button {
  border: 0 !important;
  padding: 4px 14px !important;
  border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: linear-gradient(to bottom, rgb(40, 144, 95) 0%, #28905F 100%) !important;
  color: var(--white-color) !important;
  border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: var(--white-color) !important;
  box-shadow: 0 5px 5px rgba(0, 255, 136, 0.1);
}

.dataTables_wrapper .paginate_button:not(.disabled):hover {
  background: linear-gradient(to bottom, rgba(0, 150, 80, 0.582) 0%, #00924e93 100%) !important;
  color: #ffffff !important;
  box-shadow: 0 5px 5px rgba(0, 255, 136, 0.1);
  border-radius: 5px;
}

.dataTables_wrapper .disabled:hover {
  background-color: #ffffff !important;
}

.dataTables_wrapper input, .dataTables_wrapper label, .dataTables_wrapper .dataTables_info, .dataTables_wrapper select {
  border-color: #b9b9b9 !important;
  color: #999999;
}

.dataTables_wrapper table tr th {
  border: 0 !important;
  white-space: nowrap !important;
}

.dataTables_wrapper table {
  border: 0 !important;
}

@media screen and (max-width: 767.5px) {
  .dataTables_wrapper .dataTables_filter label {
    display: none;
  }
  .dataTables_wrapper input {
    min-width: 100%;
    margin-bottom: 1em !important;
  }
  .dataTables_wrapper input::placeholder {
    color: #d6d6d6 !important;
  }
  .dataTables_wrapper select:focus {
    outline: 0 none;
    box-shadow: none;
    border-color: #28905F;
  }
}