html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background-image: url(/images/Artboard\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #383838;
    line-height: 5px;
    background-attachment:fixed;
}

.login-card {
    background-color: #ffffff;
    height: 96vh;
    margin: 14px 9px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;
}

.login-card::-webkit-scrollbar {
    display: none;
}

.login-card h1 {
    font-weight: 700;
}

.login-card h4 {
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
}

.login-card h5 {
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
}

.login-card a {
    text-decoration: none;
    color: #383838;
}

.login-card h5.active {
    font-weight: 700;
}

.login-register a {
    padding-right: 10px;
}

.login-register h5::after {
    content: '';
    background: #DFDFDF;
    display: block;
    height: 3px;
    border-radius: 3px;
    padding-top: 0em;
    margin-top: 0.8em;
    transition: 0.3s ease;
}

.login-tab, .register-tab {
    margin-bottom: 10px;
}

.login-register .active::after {
    background: #28905F;
}

.login-register h5:hover::after {
    background: #28905F;
    cursor: pointer;
}

.login-tab::after {
    width: 2.3rem;
}

.register-tab::after {
    width: 3.7em;
}

/* Error-Box */

.error-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4E482;
    color: #867400;
    font-size: 13px;
    height: 45px;
    border-radius: 8px;
    padding: 0px 18px;
}

.error-box i:hover {
    cursor: pointer;
    color: #5e5100;
}

form {
    line-height: 1.5em;
}

form label {
    font-size: 13px;
}

.form-icon-input {
    display: flex;
    align-items: center;
}

form input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 0;
    padding: 0px 46px;
    background-color: #F5F5F5;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    transition: 0.3s ease;
}

form input:hover {
    background-color: #ECEBEB;
}

form input:focus {
    outline: none;
    background-color: #ECEBEB;
}

form input::placeholder {
    color: #C0C0C0;
    font-weight: 400;
}

form i {
    position: absolute;
    padding: 0px 15px;
    color: #28905F;
    font-size: 15px !important;
}

.fa-lock {
    padding: 0px 19px;
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    transition: 0.3s ease;
}

.submit a:hover {
    color: #28905F;
}

/* Desktop */

@media only screen and (min-width: 1025px) {
    .login-card {
        width: 620px;
    }
    .login-content {
        padding: 0px 80px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .login-card {
        justify-content: center;
    }
    .login-content {
        padding: 0px 80px;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .login-card {
        justify-content: center;
    }
    .login-content {
        padding: 0px 20px;
        width: 100%;
    }
}