<div class="container">

    <div id="tab6" class="tab-content" style="min-height: 50em;">
        <!--  Custom breadcrumb  -->

        <div class="content">
            <div>
                <ul class="bar mt-4 mb-4 d-flex align-items-center justify-content-between pt-2 pl-3 pb-2 pr-2">
                    <div class="d-flex align-items-center">
                        <li class="bar-item"><a href="/homepage">Homepage</a></li>
                        <span>/</span>
                        <li class="bar-item active">Doctors</li>
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button">
                            Departments
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item active" data-filter="all" href="#">All</a>
                            <a class="dropdown-item" data-filter="neurologist" href="#">Neurologist</a>
                            <a class="dropdown-item" data-filter="ophthalmologist" href="#">Ophthalmologist</a>
                            <a class="dropdown-item" data-filter="pediatrician" href="#">Pediatrician</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <!-- - Doctor Cards  -->

        <div class="content">
            <div class="row doctors">
                <div class="col-12 col-md-3 mb-3 doc-box neurologist">
                    <img src="/images/perfil.jpg" alt="image" width="100%">
                    <div class="doc-card">
                        <h4>Dr. Lloyd Wilson</h4>
                        <h2>NEUROLOGIST</h2>
                        <div><a href="#" class="btn btn-green-outline">Book Now</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3 doc-box pediatrician">
                    <img src="/images/perfil.jpg" alt="image" width="100%">
                    <div class="doc-card">
                        <h4>Dr. Lloyd Wilson</h4>
                        <h2>Pediatrician</h2>
                        <div><a href="#" class="btn btn-green-outline">Book Now</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3 doc-box ophthalmologist">
                    <img src="/images/perfil.jpg" alt="image" width="100%">
                    <div class="doc-card">
                        <h4>Dr. Lloyd Wilson</h4>
                        <h2>Ophthalmologist</h2>
                        <div><a href="#" class="btn btn-green-outline">Book Now</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3 doc-box neurologist">
                    <img src="/images/perfil.jpg" alt="image" width="100%">
                    <div class="doc-card">
                        <h4>Dr. Lloyd Wilson</h4>
                        <h2>NEUROLOGIST</h2>
                        <div><a href="#" class="btn btn-green-outline">Book Now</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3 doc-box pediatrician">
                    <img src="/images/perfil.jpg" alt="image" width="100%">
                    <div class="doc-card">
                        <h4>Dr. Lloyd Wilson</h4>
                        <h2>Pediatrician</h2>
                        <div><a href="#" class="btn btn-green-outline">Book Now</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3 doc-box ophthalmologist">
                    <img src="/images/perfil.jpg" alt="image" width="100%">
                    <div class="doc-card">
                        <h4>Dr. Lloyd Wilson</h4>
                        <h2>Ophthalmologist</h2>
                        <div><a href="#" class="btn btn-green-outline">Book Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>